name: Build Aliyun Tweak

on:
  push:
    branches: [ main ]
  workflow_dispatch: 

jobs:
  build:
    runs-on: macos-latest 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 # 升级到 v4

      - name: Prepare Theos
        uses: randomblock1/theos-action@main

      - name: Build Dylib
        run: |
          make FINALPACKAGE=1
          # 检查编译结果
          ls -R .theos/obj/

      - name: Upload Dylib
        uses: actions/upload-artifact@v4 # 升级到 v4，解决报错的关键
        with:
          name: AliyunJump-Dylib
          path: .theos/obj/AliyunJump.dylib # 确保路径与 Makefile 中的 TWEAK_NAME 一致
